<div class="p-grid p-fluid">
  <form #f (ngSubmit)="onsubmit()" ngFomr=()>
    <div class="p-col-12 p-md-6 p-lg-3">
      <h1 class="title">Altura</h1>

      <p-inputMask name="altura" [(ngModel)]="model.altura" mask="9.99"></p-inputMask>
    </div>

    <div p-col-12 p-md-6 p-lg-3>
      <h1 class="title">Peso</h1>
      <input type="number" name="peso" [(ngModel)]="model.peso" pInputText />
    </div>
    <!--Resolver css inline-->
    <div class="p-col-12" style="margin-top: 20px">
      <p-button type="submit" label="Calcular" [disabled]="f.invalid"></p-button>
    </div>
  </form>
  <div class="text-center" >
    <h1>IMC: {{result && result.imc }}</h1>
    <h2>Classificacão: {{result && result.Classificacao }}</h2>
    <h2>Grau De Obsidade: {{result && result.grauObesidade }}</h2>
  </div>
</div>
